<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
    <table>
    {{form}} 
</table>
<input type="submit" value="Submit">
</form>
</body>
</html>

<!-- we can include it in 5 ways:
1. {{form}}
2. {{form.as_table}}
3. {{form.as_p}}
4. {{form.as_ul}}
5. {{form.name/email}} //to display particular  -->