{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href=" {%static "css/dnews.css" %} ">

</head>
<body>
    <div class="container">
    <div class="jumbotron" align = 'center'>
        <div class="container">
            <h1>Welcome to DURGA NEWS PORTAL</h1>
            <a class="btn btn-primary btn-lg" href="/movies" role="button">Movie News</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="/sports" role="button">Sports News</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="/poli" role="button">Politics News</a>
           
        </div>
    </div>
    </div>    
</body>
</html>